n8n-WorkFlow/Generate-PPT-Outline.json
{
  "name": "Generate-PPT-Outline",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "/generate-ppt-outline",
        "responseMode": "responseNode",
        "options": {
          "binaryPropertyName": "file"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -128,
        32
      ],
      "id": "dee7fffd-e8b4-40e7-b066-89bda89be145",
      "name": "Webhook",
      "webhookId": "6debc974-9bc2-4f1d-8561-031a363a4f5d"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.message }}",
        "options": {
          "systemMessage": "你是一个pptagent，需要按照用户输入的要求生成一份大纲，并且等待用户的修改，大纲中每一页ppt之间要用---分割，最终输出只要大纲，不要其他内容"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        816,
        48
      ],
      "id": "ab83fd7c-3023-4f1f-a7ba-08466bc9f076",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatDeepSeek",
      "typeVersion": 1,
      "position": [
        816,
        240
      ],
      "id": "de1d7058-b44f-4ee0-b33f-b4983ab0d37e",
      "name": "DeepSeek Chat Model",
      "credentials": {
        "deepSeekApi": {
          "id": "rTZfsAYOCwTcpnXx",
          "name": "DeepSeek account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1232,
        48
      ],
      "id": "c9ed37ac-1885-4d20-8c34-a832e59de2e8",
      "name": "Respond to Webhook",
      "alwaysOutputData": false,
      "executeOnce": false
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "449fb6c1-3c33-44d2-aa19-462af7d84bcd",
              "leftValue": "={{ $json.message }}",
              "rightValue": "有文件上传",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        400,
        32
      ],
      "id": "dcb958d6-e4db-42a7-b758-ddba19737d06",
      "name": "If"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "{{ $json.output }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        944,
        240
      ],
      "id": "d4d353ec-9a67-4b2a-83c2-0e7370e00fd5",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "jsCode": "// Function 节点代码\nconst hasFiles = !!$input.all()[0].binary;\n\nreturn [{\n  json: {\n    hasFiles,\n    message: hasFiles ? '有文件上传' : '无文件上传'\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        192,
        32
      ],
      "id": "1be0a6a7-519e-4e73-9f2d-7c846c6276a9",
      "name": "Code"
    },
    {
      "parameters": {
        "mode": "chooseBranch"
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        608,
        -144
      ],
      "id": "eaee36ae-24b7-4b30-b957-e7dafae03660",
      "name": "Merge"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "XOq86iVvuwegQ4tE",
          "mode": "list",
          "cachedResultUrl": "/workflow/XOq86iVvuwegQ4tE",
          "cachedResultName": "PDF解析（并行版）"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1056,
        -144
      ],
      "id": "f8d3093b-2670-488e-92aa-122a3405f64e",
      "name": "Execute Workflow"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "D:/Presentation-PPTAgent/PDF-parse/input.pdf",
        "dataPropertyName": "file0",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        816,
        -144
      ],
      "id": "686c1b3f-02be-4b51-be32-ca6550382330",
      "name": "Read/Write Files from Disk"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DeepSeek Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        []
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "Execute Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "9be68cd4-802d-4843-ad8d-9db1a7abc8ac",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d78d268031f654ff15a7ba81f0603e3a51125823e3c40dfb78e0bc207b997b5a"
  },
  "id": "8sa8jfXKTPgkgsUl",
  "tags": []
}