n8n-WorkFlow/PPT单页内容丰富（并行版）.json
{
  "name": "PPT单页内容丰富（并行版）",
  "nodes": [
    {
      "parameters": {
        "operation": "write",
        "fileName": "/data/files/output.json",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        3808,
        272
      ],
      "id": "de463635-b0ec-4550-a494-908f14555001",
      "name": "Read/Write Files from Disk1"
    },
    {
      "parameters": {
        "operation": "toText",
        "sourceProperty": "output",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        3632,
        272
      ],
      "id": "e551da0c-3df9-41da-9fea-8bda778bcc1c",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6ef62ecf-bc19-4e86-a3fe-a666b1e96796",
              "name": "output",
              "value": "={{$json.output}}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3440,
        272
      ],
      "id": "84b43e5b-1639-4daf-9122-efc872389a98",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "jsCode": "// 获取输入数据\nconst inputString = $input.first().json.data;\n\n// 按 # 分割字符串\nconst parts = inputString.split(\"---\");\n\n// 创建新 items\nreturn parts.map(part => {\n  return {\n    json: {\n      segment: part.trim(),  // 移除首尾空格\n      length: part.length\n    },\n    // 可选：保留原始数据\n    pairedItem: $item.index\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1216,
        80
      ],
      "id": "d3d75642-c8b4-4bac-8169-33de4fb75990",
      "name": "Code"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "content"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        3088,
        272
      ],
      "id": "13a4c13d-b9d0-40c8-9c0a-16a99466a5f5",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "fileSelector": "D:/Presentation-PPTAgent/slidev/slidev-exam.md",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        1200,
        464
      ],
      "id": "1f468127-e1c1-499f-b1d5-1079e9c9ef31",
      "name": "Read/Write Files from Disk2"
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        1568,
        464
      ],
      "id": "2de01449-f775-4487-afe3-3e63f7e0e688",
      "name": "Extract from File1"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2416,
        272
      ],
      "id": "5a9891b2-4405-4b19-8b81-88e6e21c72b8",
      "name": "Merge",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "command": "cd /data/files && python3 json2md.py"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        4016,
        272
      ],
      "id": "ee77dec9-7183-47e1-90ee-db5a4cf8703a",
      "name": "Execute Command"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst globalHelpers = this.helpers;\n\n// --- 配置 ---\nconst ENDPOINT = 'https://api.deepseek.com/v1/chat/completions';\nconst TOKEN = 'Bearer sk-6cb5f4f271a9459fad010a78940671b7';\nconst CONCURRENCY = 10;  // 最大并发\nconst TIMEOUT = 450000;   // 30秒超时\nconst RETRIES = 2;       // 最多重试2次\nconst sysMessage1 = \"传入的内容是有关ppt每一页非常简略的大纲，请为每一个要点增添详细的内容，不要大纲式的，要有一段段文字，但要保证一页的总字数不超过150，不要在结尾用括号提示字数，请在需要添加图片的地方，把图片描述写在中括号中，不要写在正文中，每一页最多一张图片，注意，如果说明这一页是目录，则保持大纲式结构。\";\nconst sysMessage2 = \"传入的是ppt的内容，不要修改正文文字内容，请形成一个ppt（markdown形式），在中括号提示有图片的地方一定要根据文本信息写详细的英文prompt（prompt将被传给生图工具）并将该prompt写入[]之间，没有中括号提示加图的地方不要加图。给我返回markdown文件，不要一开始的```markdown和结尾的```，最后这个文件要给到slidev，生成幻灯片。\";\n\n// --- 图片生成函数 ---\nfunction generateImageUrl(prompt) {\n    const width = 200;\n    const height = 200;\n    const model = \"flux\";\n    const seed = Date.now() % 1000000; // 随机种子\n    \n    // 构建图片URL（带随机种子避免缓存）\n    let url = `https://image.pollinations.ai/prompt/${encodeURIComponent(prompt)}?`;\n    url += `width=${width}&height=${height}&model=${model}&nologo=true`;\n    url += `&seed=${seed}`;\n    \n    return url;\n}\n\n// --- 单条请求函数（带重试）---\nasync function callDeepSeek(sysMessage, content, attempt = 0) {\n    try {\n        const res = await globalHelpers.httpRequest({\n            method: 'POST',\n            url: ENDPOINT,\n            body: {\n                model: 'deepseek-chat',\n                messages: [{\n                    role: \"system\",\n                    content: sysMessage\n                }, {\n                    role: \"user\",\n                    content: content\n                }],\n            },\n            json: true,\n            headers: {\n                'Content-Type': 'application/json',\n                'Authorization': TOKEN\n            },\n            timeout: TIMEOUT\n        });\n\n        return {\n            json: {\n                apiResponse: res,\n                success: true\n            },\n        };\n\n    } catch (err) {\n        if (attempt < RETRIES) {\n            await new Promise(r => setTimeout(r, 500 * (attempt + 1)));\n            return callDeepSeek(sysMessage, content, attempt + 1);\n        }\n        return {\n            json: {\n                success: false,\n                error: err.message || 'API请求失败'\n            },\n        };\n    }\n}\n\n// --- 处理图片标记 ---\nasync function processImages(markdown) {\n    // 正则匹配所有图片描述 [description]\n    const regex = /\\[([^\\]]+)\\]/g;\n    let match;\n    const replacements = [];\n    \n    // 收集所有需要替换的图片标记\n    while ((match = regex.exec(markdown)) !== null) {\n        const fullMatch = match[0];\n        const description = match[1];\n        replacements.push({ fullMatch, description });\n    }\n    \n    // 并行生成所有图片URL\n    const imageUrls = await Promise.all(\n        replacements.map(async (item) => {\n            return {\n                ...item,\n                url: `${generateImageUrl(item.description)}`\n            };\n        })\n    );\n    \n    // 执行替换操作\n    let processedMarkdown = markdown;\n    for (const replacement of imageUrls) {\n        processedMarkdown = processedMarkdown.replace(\n            replacement.fullMatch,\n            `![](${replacement.url})`\n        );\n    }\n    \n    return processedMarkdown;\n}\n\n// --- 并发控制器（保持顺序）---\nasync function processAll(items, concurrency) {\n    const results = new Array(items.length);\n    let index = 0;\n    \n    async function worker() {\n        while (index < items.length) {\n            const currentIndex = index++;\n            const item = items[currentIndex];\n            \n            try {\n                // 第一步：生成详细内容\n                const result1 = await callDeepSeek(sysMessage1, item.json.segment);\n                if (!result1.json.success) {\n                    results[currentIndex] = { \n                        json: { error: `第一步失败: ${result1.json.error}` } \n                    };\n                    continue;\n                }\n                \n                // 第二步：生成markdown结构\n                const result2 = await callDeepSeek(\n                    sysMessage2, \n                    result1.json.apiResponse.choices[0].message.content\n                );\n                \n                if (!result2.json.success) {\n                    results[currentIndex] = { \n                        json: { error: `第二步失败: ${result2.json.error}` } \n                    };\n                    continue;\n                }\n                \n                // 提取markdown内容\n                let markdown = result2.json.apiResponse.choices[0].message.content;\n                \n                // 第三步：处理图片标记\n                const processedMarkdown = await processImages(markdown);\n                \n                // 保存最终结果\n                results[currentIndex] = {\n                    json: {\n                        success: true,\n                        markdown: processedMarkdown,\n                    }\n                };\n                \n            } catch (error) {\n                results[currentIndex] = { \n                    json: { error: `处理失败: ${error.message}` } \n                };\n            }\n        }\n    }\n\n    // 启动工作线程\n    const workers = Array.from({ length: Math.min(concurrency, items.length) }, worker);\n    await Promise.all(workers);\n    return results;\n}\n\n// --- 执行主流程 ---\ntry {\n    const processed = await processAll(items, CONCURRENCY);\n    return processed;\n} catch (error) {\n    return [{ json: { error: \"处理流程失败: \" + error.message }}];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1568,
        80
      ],
      "id": "0fc39761-97a4-4062-9e7e-01bc261761be",
      "name": "Code1"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst globalHelpers = this.helpers;\n\n// --- 配置 ---\nconst ENDPOINT = 'https://api.deepseek.com/v1/chat/completions';\nconst TOKEN = 'Bearer sk-6cb5f4f271a9459fad010a78940671b7';\nconst CONCURRENCY = 10;  // 最大并发\nconst TIMEOUT = 60000;   // 60秒超时\nconst RETRIES = 2;       // 最多重试2次\n\n// --- 单条请求函数（带重试）---\nasync function callDeepSeek(item, attempt = 0) {\n  try {\n    let sysMessage=\"你是一个slidev的ppt的专业修饰员，按照我给你的slidev的语法范本：${item.json.data}，将我的输入的prompt里的ppt修饰完善，prompt里的文字内容和图片不要改，全部保留，不要有开头的说明“这是用slidev修饰的版本......”以及“markdown```”，但要在开头添加“---”，结尾不要有markdown文件内容之外的东西，输出一个正确格式的markdown文件，遇到\\n则删除\\n，按照markdown语法进行换行，注意只有最后一页才是结尾页，不允许中间出现结尾页。\";\n    const res = await globalHelpers.httpRequest({\n      method: 'POST',\n      url: ENDPOINT,\n      body: {\n        model: 'deepseek-chat',\n        messages: [\n          {\n            role: \"system\",\n            content: sysMessage\n          },\n          {\n            role: \"user\",\n            // 关键修复：使用当前项的segment数据\n            content: item.json.markdown\n          }\n        ],\n      },\n      json: true,\n      headers: {\n        'Content-Type': 'application/json',\n        'Authorization': TOKEN\n      },\n      timeout: TIMEOUT\n    });\n\n    // 关键修复：必须返回有效对象\n    return {\n      json: {\n        content: res.choices[0].message.content,      // 添加API响应\n        success: true          // 成功标记\n      },\n    };\n\n  } catch (err) {\n    if (attempt < RETRIES) {\n      await new Promise(r => setTimeout(r, 500 * (attempt + 1)));\n      return callDeepSeek(item, attempt + 1);\n    }\n    return {\n      json: {\n        success: false,\n        error: err.message || 'API请求失败'\n      },\n    };\n  }\n}\n\n// --- 并发控制器（保持顺序）---\nasync function processAll(items, concurrency) {\n  const results = new Array(items.length);  // 预分配结果数组\n  let index = 0;\n  \n  async function worker() {\n    while (index < items.length) {\n      const currentIndex = index++;\n      const item = items[currentIndex];\n      results[currentIndex] = await callDeepSeek(item); // 保持原始顺序\n    }\n  }\n\n  // 启动工作线程\n  const workers = Array.from({ length: Math.min(concurrency, items.length) }, () => worker());\n  await Promise.all(workers);\n  return results;\n}\n\n// --- 执行主流程 ---\ntry {\n  const processed = await processAll(items, CONCURRENCY);\n  return processed.filter(Boolean); // 过滤无效结果\n} catch (error) {\n  return [{ json: { error: \"处理流程失败：\" + error.message }}];\n}\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2624,
        272
      ],
      "id": "8ece552c-841c-440d-abf2-41a1a60cf598",
      "name": "Code2"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "outline-to-ppt",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        816,
        304
      ],
      "id": "a7506571-5dcd-493d-b5fb-5860e8656292",
      "name": "Webhook",
      "webhookId": "e5ebe953-78a8-4368-a0b5-e2e19129251c"
    }
  ],
  "pinData": {
    "Code2": [
      {
        "json": {
          "content": "---\nlayout: cover\nbackground: https://image.pollinations.ai/prompt/Shanghai%20skyline%20panorama%20featuring%20Oriental%20Pearl%20Tower%2C%20Shanghai%20Tower%20and%20other%20landmark%20buildings%2C%20with%20Huangpu%20River%20flowing%20through%20the%20city%2C%20showcasing%20modern%20urban%20landscape%2C%20daytime%20view%20with%20clear%20blue%20sky%2C%20ultra%20HD%208K%20resolution%2C%20professional%20architectural%20photography%20style?width=2000&height=1125&model=flux&nologo=true&seed=207801\n---\n\n# Shanghai: The Oriental Pearl\n\n## Introduction to Shanghai\n\n- Located on China's east coast\n- International metropolis with unique charm\n- Economic, financial, trade and shipping center of China\n- Perfect blend of Eastern and Western cultures\n- Modern skyscrapers coexist with traditional historical architecture\n\n---\nlayout: image-right\nimage: https://image.pollinations.ai/prompt/Shanghai%20skyline%20panorama%20featuring%20Oriental%20Pearl%20Tower%2C%20Shanghai%20Tower%20and%20other%20landmark%20buildings%2C%20with%20Huangpu%20River%20flowing%20through%20the%20city%2C%20showcasing%20modern%20urban%20landscape%2C%20daytime%20view%20with%20clear%20blue%20sky%2C%20ultra%20HD%208K%20resolution%2C%20professional%20architectural%20photography%20style?width=800&height=600&model=flux&nologo=true&seed=207801\n---\n\n## Cityscape Features\n\n- Divided by Huangpu River into Pudong and Puxi\n- Pudong: Modern financial district with towering skyscrapers\n- Puxi: Historic area with colonial-era architecture\n- The Bund: Iconic waterfront promenade\n- Lujiazui: Futuristic financial center\n\n---\nlayout: two-cols\n---\n\n## Night View Highlights\n\n::left::\n- The Bund's historic buildings illuminated at night\n- Lujiazui's modern towers with dazzling light shows\n- Huangpu River cruise with spectacular city views\n\n::right::\n- Contrast between old and new architecture\n- One of the world's most impressive urban nightscapes\n\n![Shanghai Night View](https://image.pollinations.ai/prompt/Shanghai%20night%20view%20showing%20illuminated%20skyscrapers%20and%20Huangpu%20River%20reflections%2C%20with%20Oriental%20Pearl%20Tower%20glowing%20in%20vibrant%20colors%2C%20long%20exposure%20photography%20style%2C%20ultra%20HD%208K%20resolution?width=800&height=600&model=flux&nologo=true&seed=207802)\n\n---\nlayout: center\nclass: text-center\n---\n\n## Cultural Fusion\n\n- Where East meets West\n- Traditional Chinese gardens and temples\n- European-style colonial buildings\n- Cutting-edge contemporary architecture\n- Vibrant arts and cultural scene\n\n![Cultural Shanghai](https://image.pollinations.ai/prompt/Shanghai%20cultural%20fusion%20showing%20traditional%20Chinese%20architecture%20next%20to%20modern%20skyscrapers%2C%20with%20people%20in%20both%20traditional%20and%20modern%20clothing%2C%20vibrant%20colors%2C%20ultra%20HD%208K%20resolution?width=800&height=600&model=flux&nologo=true&seed=207803)",
          "success": true
        }
      },
      {
        "json": {
          "content": "---\nlayout: cover\nbackground: https://image.pollinations.ai/prompt/City%20skyline%20panorama%20showing%20modern%20skyscrapers%20blending%20with%20traditional%20architecture%2C%20wide%20river%20flowing%20through%20the%20city%20center%2C%20lush%20green%20parks%2C%20and%20vibrant%20city%20life%2C%20daytime%20with%20clear%20blue%20sky%2C%20photorealistic%20style?width=200&height=200&model=flux&nologo=true&seed=193782\n---\n\n# City Skyline Panorama\n\nModern skyscrapers blending with traditional architecture\n\nWide river flowing through the city center\n\nLush green parks and vibrant city life\n\nPhotorealistic daytime scene with clear blue sky",
          "success": true
        }
      },
      {
        "json": {
          "content": "---\nlayout: cover\nbackground: https://image.pollinations.ai/prompt/Generate%20a%20panoramic%20skyline%20view%20of%20Shanghai%20city%2C%20featuring%20iconic%20landmarks%20like%20the%20Oriental%20Pearl%20Tower%2C%20Shanghai%20Tower%2C%20and%20Jin%20Mao%20Tower.%20The%20image%20should%20show%20the%20modern%20metropolis%20with%20skyscrapers%20along%20the%20Huangpu%20River%2C%20with%20a%20clear%20blue%20sky%20and%20some%20clouds.%20The%20perspective%20should%20be%20from%20across%20the%20river%20to%20capture%20the%20full%20impressive%20skyline%2C%20with%20the%20Bund%20visible%20on%20the%20opposite%20side.%20The%20style%20should%20be%20realistic%20photography%20with%20vibrant%20colors%20and%20sharp%20details.?width=200&height=200&model=flux&nologo=true&seed=198803\nclass: text-center\n---\n\n# 上海城市天际线\n\n## 东方明珠、上海中心大厦、金茂大厦全景\n\n<div class=\"absolute bottom-10 right-10 text-sm\">\n现代大都市风光 · 黄浦江畔 · 外滩景观\n</div>",
          "success": true
        }
      },
      {
        "json": {
          "content": "---\nlayout: cover\nbackground: /assets/cover.jpg\n---\n\n# History and Cultural Characteristics\n\n---\n\n## Historical Development\n\n- Established as Shanghai County in 1292 (Yuan Dynasty)\n- Became treaty port in 1843\n- Rapid development into major Far East trading hub\n- Fusion of Chinese and Western cultures\n\n---\n\n## Cultural Identity\n\n- Origin of \"Haipai\" (Shanghai-style) culture\n- Blend of Jiangnan elegance and Western modernity\n- Iconic Shikumen architecture:\n  - Combines Jiangnan residential style\n  - With Western townhouse elements\n  - Red brick and gray tile aesthetic\n\n---\n\n![](https://image.pollinations.ai/prompt/Image%20prompt%3A%20Panoramic%20view%20of%20Shanghai%20Bund%20historical%20buildings%20at%20golden%20hour%2C%20showing%20neoclassical%20and%20art%20deco%20architecture%20along%20the%20Huangpu%20River%2C%20with%20vintage%20ambiance%20and%20soft%20lighting%2C%20ultra%20HD%208K%20detailed?width=200&height=200&model=flux&nologo=true&seed=204113)\n\n---\n\nlayout: center\nclass: text-center\n---\n\n# Thank You",
          "success": true
        }
      },
      {
        "json": {
          "content": "---\nlayout: cover\nbackground: 'https://image.pollinations.ai/prompt/Prompt%3A%20A%20panoramic%20view%20of%20Shanghai%27s%20Lujiazui%20financial%20district%20skyline%20at%20dusk%2C%20showing%20modern%20skyscrapers%20including%20Shanghai%20Tower%2C%20Jin%20Mao%20Tower%2C%20and%20Oriental%20Pearl%20Tower%2C%20with%20the%20Huangpu%20River%20in%20the%20foreground%20and%20city%20lights%20reflecting%20on%20the%20water%2C%20ultra%20HD%208K%20resolution%2C%20professional%20architectural%20photography%20style?width=200&height=200&model=flux&nologo=true&seed=205547'\ntheme: default\n---\n\n# Shanghai's Economic Development\n\n<style>\nh1 {\n  color: #f8f8f8;\n  text-shadow: 2px 2px 4px rgba(0,0,0,0.5);\n}\n</style>\n\n---\nlayout: two-cols\n---\n\n## Economic Overview\n\n- GDP in 2021: 4.32 trillion RMB (highest among Chinese cities)\n- Ranked 3rd in Global Financial Centers Index (GFCI)\n- Home to headquarters of numerous domestic and international financial institutions\n\n::right::\n\n![](https://image.pollinations.ai/prompt/Prompt%3A%20A%20panoramic%20view%20of%20Shanghai%27s%20Lujiazui%20financial%20district%20skyline%20at%20dusk%2C%20showing%20modern%20skyscrapers%20including%20Shanghai%20Tower%2C%20Jin%20Mao%20Tower%2C%20and%20Oriental%20Pearl%20Tower%2C%20with%20the%20Huangpu%20River%20in%20the%20foreground%20and%20city%20lights%20reflecting%20on%20the%20water%2C%20ultra%20HD%208K%20resolution%2C%20professional%20architectural%20photography%20style?width=400&height=300&model=flux&nologo=true&seed=205547)\n\n<style>\nimg {\n  border-radius: 8px;\n  box-shadow: 0 4px 8px rgba(0,0,0,0.2);\n}\n</style>\n\n---\nlayout: default\n---\n\n## Key Industries\n\n<div grid=\"~ cols-2 gap-4\">\n<div>\n\n### **Financial Services**\n- Complete financial system\n- Major banking, securities and insurance institutions\n\n</div>\n<div>\n\n### **International Trade**\n- World's busiest container port (Shanghai Port)\n- Leading trade hub in China\n\n</div>\n<div>\n\n### **Shipping & Logistics**\n- Critical node in global supply chains\n- Advanced port infrastructure\n\n</div>\n</div>\n\n<style>\nh3 {\n  color: #2c3e50;\n  border-bottom: 2px solid #42b983;\n  padding-bottom: 0.3em;\n}\n</style>\n\n---\nlayout: center\nclass: text-center\n---\n\n## Special Economic Zones\n\n### Shanghai Free Trade Zone\n\n<div class=\"grid grid-cols-3 gap-4 pt-4\">\n<div class=\"col-span-1\">\n<h4>Financial openness innovations</h4>\n</div>\n<div class=\"col-span-1\">\n<h4>Trade facilitation measures</h4>\n</div>\n<div class=\"col-span-1\">\n<h4>New growth drivers for economy</h4>\n</div>\n</div>\n\n<style>\nh4 {\n  @apply text-lg font-medium;\n  color: #3a5169;\n}\n</style>",
          "success": true
        }
      },
      {
        "json": {
          "content": "---\nlayout: cover\nbackground: /assets/cover.jpg\n---\n\n# Shanghai Landmarks\n\n---\n\n## Oriental Pearl Tower\n- One of Shanghai's most iconic landmarks\n- 468-meter tall TV tower with unique spherical design\n- Features observation decks, rotating restaurant, and space capsule\n- Offers panoramic views of Shanghai\n\n![](https://image.pollinations.ai/prompt/Generate%20an%20image%20of%20the%20Oriental%20Pearl%20Tower%20at%20night%2C%20showing%20its%20distinctive%20spheres%20lit%20up%20with%20colorful%20lights%2C%20reflecting%20on%20the%20Huangpu%20River%2C%20with%20the%20Shanghai%20skyline%20in%20the%20background?width=200&height=200&model=flux&nologo=true&seed=217156)\n\n---\n\n## Shanghai Tower\n- China's tallest building at 632 meters\n- Crown jewel of Lujiazui skyline\n- Features innovative double-skin glass facade design\n- Houses offices, hotels, and observation decks\n- Represents cutting-edge architectural technology\n\n![](https://image.pollinations.ai/prompt/Generate%20an%20image%20of%20Shanghai%20Tower%20standing%20tall%20among%20other%20skyscrapers%20in%20Pudong%2C%20with%20its%20curved%20glass%20facade%20reflecting%20sunlight%2C%20showing%20its%20full%20height%20and%20modern%20design?width=200&height=200&model=flux&nologo=true&seed=217156)\n\n---\n\n## The Bund Historic Buildings\n- Witness to Shanghai's century-long history\n- Collection of Gothic, Baroque, and Romanesque architecture\n- Stunning night views with illuminated facades\n- Forms a unique riverside landscape along Huangpu River\n\n![](https://image.pollinations.ai/prompt/Generate%20an%20image%20of%20The%20Bund%20at%20dusk%2C%20showing%20the%20historic%20European-style%20buildings%20with%20warm%20lighting%2C%20reflected%20in%20the%20Huangpu%20River%2C%20with%20modern%20Pudong%20skyline%20across%20the%20water?width=200&height=200&model=flux&nologo=true&seed=217156)\n\n---\n\n## Shanghai Disneyland\n- First Disney theme park in mainland China\n- Blends Chinese cultural elements with Disney classics\n- Features six themed lands\n- Offers magical entertainment experiences\n- Ideal destination for family vacations\n\n![](https://image.pollinations.ai/prompt/Generate%20an%20image%20of%20Shanghai%20Disneyland's%20Enchanted%20Storybook%20Castle%20during%20daytime%2C%20with%20colorful%20decorations%20and%20happy%20visitors%20in%20the%20foreground%2C%20showing%20the%20park's%20vibrant%20atmosphere?width=200&height=200&model=flux&nologo=true&seed=217156)\n\n---\n\nlayout: center\nclass: text-center\n---\n\n# Thank You!",
          "success": true
        }
      },
      {
        "json": {
          "content": "---\nlayout: cover\ntheme: default\nclass: text-center\nhighlighter: shiki\nlineNumbers: false\ninfo: |\n  ## Shanghai Must-Visit Attractions\ndrawings:\n  persist: false\n---\n\n# Shanghai Must-Visit Attractions\n\nExperience the vibrant culture and history of China's most cosmopolitan city\n\n---\n\n## The Bund\n- Most representative landmark of Shanghai\n- Features 52 historic buildings with diverse architectural styles\n- Known as the \"Exhibition of World Architecture\"\n- Offers stunning views of both classical and modern skyscrapers\n\n![](https://image.pollinations.ai/prompt/Image%20prompt%3A%20A%20panoramic%20night%20view%20of%20The%20Bund%20in%20Shanghai%2C%20showing%20the%20illuminated%20historic%20buildings%20along%20the%20Huangpu%20River%20with%20modern%20skyscrapers%20of%20Pudong%20in%20the%20background%2C%20reflecting%20on%20the%20water%2C%20captured%20with%20long%20exposure%20for%20light%20trails?width=600&height=400&model=flux&nologo=true&seed=221547)\n\n---\n\n## Yu Garden\n- Classical Chinese garden built during Ming Dynasty (400+ years old)\n- Features exquisite pavilions, rockeries and ponds\n- Showcases traditional Chinese gardening art\n- Hosts famous lantern festivals during Chinese New Year\n\n![](https://image.pollinations.ai/prompt/Image%20prompt%3A%20A%20daytime%20view%20of%20Yu%20Garden's%20classical%20Chinese%20architecture%20with%20intricate%20roof%20details%2C%20beautiful%20rock%20formations%2C%20and%20a%20traditional%20wooden%20bridge%20over%20a%20koi%20pond%2C%20surrounded%20by%20lush%20greenery%20and%20blooming%20flowers?width=600&height=400&model=flux&nologo=true&seed=221547)\n\n---\n\n## Nanjing Road Pedestrian Street\n- One of China's busiest shopping streets (5.5km long)\n- Mix of international brands and local time-honored stores\n- Perfect place to experience Shanghai's urban lifestyle\n- Vibrant night scene with neon lights and crowds\n\n![](https://image.pollinations.ai/prompt/Image%20prompt%3A%20A%20bustling%20night%20scene%20of%20Nanjing%20Road%20Pedestrian%20Street%20with%20colorful%20neon%20signs%2C%20crowded%20with%20happy%20shoppers%2C%20modern%20storefronts%20illuminated%2C%20and%20traditional%20Chinese%20lantern%20decorations%20overhead?width=600&height=400&model=flux&nologo=true&seed=221547)\n\n---\n\n## Tianzifang\n- Artsy alleyway area converted from Shikumen houses\n- Home to creative boutiques, art studios and cafes\n- Perfect blend of traditional and contemporary culture\n- Great place for photography and unique souvenirs\n\n![](https://image.pollinations.ai/prompt/Image%20prompt%3A%20A%20charming%20narrow%20alley%20in%20Tianzifang%20with%20traditional%20stone-gate%20houses%20converted%20into%20trendy%20shops%2C%20colorful%20murals%20on%20walls%2C%20string%20lights%20overhead%2C%20and%20people%20browsing%20through%20boutique%20stores?width=600&height=400&model=flux&nologo=true&seed=221547)\n\n---\nlayout: center\nclass: text-center\n---\n\n# Thank You!\n\nExplore the wonders of Shanghai today!",
          "success": true
        }
      },
      {
        "json": {
          "content": "```\n---\nlayout: cover\n---\n\n# 上海味道\n\n---\n\n## 上海特色美食概览\n\n- 国际化大都市中的饮食文化\n- 融合江南精致与海派包容\n- 独具特色的本帮菜系\n\n![](https://image.pollinations.ai/prompt/%E5%9B%BE%E7%89%87%E6%8F%90%E7%A4%BA%EF%BC%9AA%20close-up%20of%20steaming%20xiaolongbao%20(soup%20dumplings)%20in%20a%20bamboo%20basket%2C%20with%20thin%20translucent%20skin%20showing%20the%20juicy%20filling%20inside%2C%20placed%20on%20a%20traditional%20Chinese%20dining%20table%20with%20soft%20lighting%20to%20highlight%20the%20delicate%20texture%20and%20steam%20rising%20from%20the%20dumplings.%20The%20background%20is%20slightly%20blurred%20to%20focus%20on%20the%20dumplings.?width=200&height=200&model=flux&nologo=true&seed=221462)\n\n---\n\n## 小笼包 - 上海点心代表\n\n- 皮薄馅大、汤汁鲜美\n- 南翔小笼包传统吃法：\n  - 轻轻提\n  - 慢慢移\n  - 先开窗\n  - 后喝汤\n- 体现师傅精湛手艺\n\n---\n\n## 生煎馒头 - 街头美味\n\n- 外皮金黄酥脆\n- 底部煎制恰到好处\n- 咬开时肉汁四溢\n- 早餐和下午茶经典选择\n\n---\n\n## 红烧肉 - 本帮菜代表作\n\n- 选用肥瘦相间五花肉\n- 慢火炖煮至酱红色\n- 特点：\n  - 浓油赤酱\n  - 甜中带咸\n  - 入口即化不腻\n\n![](https://image.pollinations.ai/prompt/%E5%9B%BE%E7%89%87%E6%8F%90%E7%A4%BA%EF%BC%9AA%20plate%20of%20perfectly%20cooked%20Shanghai-style%20braised%20pork%20belly%20(hongshao%20rou)%20with%20glossy%20dark%20red%20sauce%2C%20the%20meat%20showing%20beautiful%20layers%20of%20fat%20and%20lean%20meat%2C%20garnished%20with%20green%20scallions%2C%20placed%20on%20a%20white%20porcelain%20plate%20with%20chopsticks%20beside%20it.%20The%20lighting%20creates%20appetizing%20reflections%20on%20the%20sauce.?width=200&height=200&model=flux&nologo=true&seed=221462)\n\n---\n\n## 醉蟹 - 时令美味\n\n- 选用阳澄湖大闸蟹\n- 上等花雕酒腌制\n- 特点：\n  - 蟹黄饱满\n  - 酒香浓郁\n  - 秋季时令佳肴\n\n---\n\n## 上海美食文化精髓\n\n- 传统与现代融合\n- 讲究食材与火候\n- 体现海派文化包容性\n- 每道菜背后的故事与情怀\n\n---\n\n```",
          "success": true
        }
      },
      {
        "json": {
          "content": "---\nlayout: cover\nbackground: /images/cover-bg.jpg\ntheme: default\nclass: text-center\nhighlighter: shiki\nlineNumbers: false\ninfo: |\n  ## 便捷交通网络\n  ### 上海现代化交通体系\ndrawings:\n  persist: false\n---\n\n# 便捷交通网络\n\n## 上海现代化交通体系\n\n<div class=\"grid grid-cols-2 gap-4\">\n<div class=\"text-left\">\n\n- 虹桥和浦东两大国际机场\n  - 年旅客吞吐量超过1亿人次\n- 城市地铁网络\n  - 总长超过800公里（世界最长）\n  - 覆盖全市主要区域\n- 全球首个商业运营磁悬浮列车\n  - 浦东机场至龙阳路段\n  - 时速可达430公里\n- 地面公交系统\n  - 超过1500条公交线路\n  - 智能调度系统保障高效运转\n\n</div>\n<div class=\"flex items-center justify-center\">\n\n![](https://image.pollinations.ai/prompt/Image%20prompt%3A%20%22A%20detailed%20map%20of%20Shanghai%20metro%20system%20showing%20all%20lines%20and%20stations%2C%20with%20clear%20color-coded%20routes%20and%20station%20names%20in%20both%20Chinese%20and%20English%2C%20modern%20and%20clean%20design%20style%2C%20suitable%20for%20presentation%20use%22?width=200&height=200&model=flux&nologo=true&seed=201899)\n\n</div>\n</div>\n\n<style>\n.slidev-layout {\n  @apply bg-gradient-to-br from-blue-50 to-white;\n}\n</style>",
          "success": true
        }
      },
      {
        "json": {
          "content": "---\nlayout: end\n---\n\n## 结束页\n\n感谢您抽出宝贵时间聆听本次分享。我们真诚希望这些内容能为您带来启发和帮助。如果您有任何问题或需要进一步交流，欢迎随时与我们联系。您可以通过以下方式获取更多信息或与我们取得联系：\n\n![](https://image.pollinations.ai/prompt/Professional%20contact%20information%20card%20with%20modern%20design%2C%20showing%20phone%20number%2C%20email%20address%2C%20and%20social%20media%20icons%20including%20LinkedIn%2C%20Twitter%20and%20WeChat%2C%20arranged%20neatly%20on%20a%20light%20blue%20gradient%20background%20with%20subtle%20connection%20dots%20pattern?width=200&height=200&model=flux&nologo=true&seed=200046)\n\n期待与您保持沟通，共同探讨更多可能性。再次感谢您的参与和支持！",
          "success": true
        }
      }
    ]
  },
  "connections": {
    "Read/Write Files from Disk1": {
      "main": [
        [
          {
            "node": "Execute Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk2": {
      "main": [
        [
          {
            "node": "Extract from File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code2": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          },
          {
            "node": "Read/Write Files from Disk2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "7d2f8be7-dd44-4112-bdef-bc21e5851593",
  "meta": {
    "instanceId": "d78d268031f654ff15a7ba81f0603e3a51125823e3c40dfb78e0bc207b997b5a"
  },
  "id": "BUZuZp53BeKMD6y2",
  "tags": []
}